# Build outputs
bin/
obj/
out/

# User-specific files
*.user
*.rsuser
*.suo
*.userosscache
*.sln.docstates

# Logs
*.log

# VS Code
.vscode/

# Visual Studio
.vs/

# NuGet
*.nupkg
*.snupkg
packages/

# Test results
TestResults/

# OS files
.DS_Store
Thumbs.db
